<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewsToday</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <div>
    <header class="p-3 mb-1 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <ul
            class=" nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <h2 class="me-3">Live News</h2>
            <li>
              <a href="/" class="nav-link px-2 link-secondary fw-semibold"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/india"
                class="nav-link px-2 link-body-emphasis fw-semibold"
                >India</a
              >
            </li>
            <li>
              <a
                href="/technology"
                class="nav-link px-2 link-body-emphasis fw-semibold"
                >Technology</a
              >
            </li>
            <li>
              <a
                href="/indian weather"
                class="nav-link px-2 link-body-emphasis fw-semibold"
                >Weather</a
              >
            </li>
          </ul>

          <form
            action="/search"
            method="post"
            class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
            role="search"
          >
            <input
              name="category"
              type="search"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="https://www.linkedin.com/in/jenigorlanaresh/"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://media.licdn.com/dms/image/D5603AQGbs6q-KiEfkQ/profile-displayphoto-shrink_800_800/0/1683515618404?e=1697068800&v=beta&t=yEK1MTwqOGY_N1lzc1_Ze4J4ZNHCN8ybZC0ndC_27UU"
                alt="mdo"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
          </div>
        </div>
      </div>
    </header>

    <ul class="fixed nav justify-content-evenly mb-3 text-dark-emphasis navbar">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="world">World</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Business">Business</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shopping">Shopping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sports">Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Entertainment">Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="TV">TV</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="Web Series">Web Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="lifestyle">Life & Style</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Photos">Photos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="Videos">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="magazine">Magazine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Environment">Environment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Podcasts">Podcasts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Cricket">Cricket</a>
      </li>
    </ul>
  </div>
  <div class="container">
      <div class="row g-4 justify-content-between mb-3">
        <div class="heading d-flex align-items-baseline">
          <% if(locals.total){ %>
          <h2><%= total %></h2>
          <% } else{%>
          <h2>Home</h2>
          <% } %>
           <% if(locals.totalArticles){ %>
            <p>( total results: <%= totalArticles %> )</p>
            <% } %>
        </div>

        <% for (var i = 0; i < articles.length; i++) { %>
          
        <div class="card" style="width: 18rem">
          <img
            onerror="this.style.display='none'"
            src="<%= articles[i].urlToImage %>"
            class="card-img-top"
            alt="<%= articles[i].source.name %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= articles[i].title %></h5>
            
            <p class="card-text"><%= articles[i].description %></p>
            <a href="<%= articles[i].url %>" class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>
        <% } %>

        <div class="pages">
          <ul class="pagination">
            <% if (currentPage > 1) { %>
            <li class="page-item">
              <a
                class="page-link"
                href="/<%= total %>?page=<%= currentPage - 1 %>"
                >Previous</a
              >
            </li>
            <% } %> <% if (currentPage < totalPages) { %>
            <li class="page-item ">
              <a
                class="page-link "
                href="/<%= total %>?page=<%= currentPage + 1 %>"
                >Next</a
              >
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
   
  </body>
</html>

<%- include("footer.ejs") %>
